@page "{guid}"
@model StoreManager.Webapp.Pages.Stores.DetailsModel

<h3>Details zum Store @Model.Store.Name</h3>

<h4>Liste aller Angebote</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th>EAN</th>
            <th>Produkt</th>
            <th>Preis</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model.Store.Offers.OrderBy(o => o.Product.Name))
        {
            <tr>
                <td>@o.ProductEan</td>
                <td>@o.Product.Name</td>
                <td>@o.Price</td>
                <td>@o.LastUpdate.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </tbody>
</table>