@page "{studentGuid}"
@model ExamManager.Webapp.Pages.Exams.StudentExamsModel

@section Head
{
<style>
    .examTable {
        border-spacing: 5px;
    }

    .header {
        font-weight: bold;
    }
</style>
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div>
        <p class="text-danger">@Model.Message</p>
    </div>
}
else
{
    <table class="table table-sm">
        <colgroup>
            <col syle="width: 20em" />
            <col syle="width: 10em" />
            <col syle="width: 10em" />
        </colgroup>
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Exams)
            {
                <tr>
                    <td>
                        @e.Teacher.Shortname
                        @e.Teacher.Lastname
                        @e.Teacher.Firstname
                    </td>
                    <td>
                        @e.Subject.Shortname
                    </td>
                    <td>
                        @e.Date.ToString("dd.MM.yyyy")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

